@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: initial;
}

nav {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  font-family: "Shrikhand";
}
nav #logo {
  width: 160px;
}

footer {
  display: flex;
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 30px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__icon {
  width: 30px;
}

.footer__link li {
  padding-bottom: 6px;
}

.footer__logo {
  width: 100px;
  height: 17px;
  filter: invert(1);
  margin-bottom: 20px;
}

.footer__link a {
  color: white;
  text-decoration: none;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0px 3px 5px 0px #d5d5d5 inset;
}
#search i.fas.fa-map-marker-alt.search-icon {
  padding-right: 15px;
  color: #353535;
}
#search p.search__p {
  padding-right: 20px;
  color: #353535;
  font-weight: 600;
  font-size: initial;
}

#explor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  background-color: #f6f6f6;
}
#explor h1 {
  width: 231px;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  font-size: 24px;
}
#explor p.explor__p {
  text-align: center;
  width: 265px;
  padding-top: 15px;
  color: #545252;
}

#fonction {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0 20px;
}
#fonction h2 {
  padding: 45px 0 0 0;
  font-size: 22px;
  font-weight: 600;
}
#fonction ol {
  padding: 35px 0 65px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#fonction .fonction__list {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 7px 14px 20px 0px #eaeaea;
}
#fonction .fonction__list:hover {
  background-color: #F5EDFF;
}
#fonction .fonction__list__numb {
  width: 25px;
  height: 25px;
  margin-left: -10px;
  margin-right: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  background-color: #9356DC;
  color: white;
  justify-content: center;
}
#fonction .fa-mobile-alt {
  padding-right: 32px;
  color: gray;
  font-size: 20px;
}
#fonction .fa-list-ul {
  padding-right: 32px;
  color: gray;
  font-size: 20px;
}
#fonction .fa-store {
  padding-right: 32px;
  color: gray;
  font-size: 20px;
}
#fonction span.text {
  font-weight: 600;
}

#restaurant {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  padding: 0 20px 60px;
  background-color: #f6f6f6;
}
#restaurant h3 {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards .card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 14px 20px 0px #eaeaea;
  text-decoration: none;
  color: inherit;
}
.cards .card__photo {
  height: 175px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.cards .card__photo.img2 {
  object-position: 50% 61%;
}
.cards .card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: white;
}
.cards h3 {
  font-size: 22px;
  font-weight: 600;
}
.cards .card__like {
  color: inherit;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 15px 10px 0 0;
  cursor: pointer;
}
.cards .card__like:hover i.fas {
  transform: scale(1);
}
.cards .card__like:hover i.far {
  transform: scale(0.9);
}
.cards .card__like i {
  font-size: 24px;
  position: absolute;
  transition: all 0.3s;
  color: gray;
}
.cards .card__like i.fas {
  background: linear-gradient(45deg, #FF79DA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}
.cards figure.nouveau {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}
.cards figcaption {
  display: flex;
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
}

a.button {
  display: flex;
  position: absolute;
  margin-left: -80%;
  padding-top: 3px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#img__menu {
  width: 100%;
  height: 200px;
}

#carte__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  position: relative;
  border-radius: 35px;
}

.title__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 15px;
}
.title__menu h1 {
  font-family: "Shrikhand";
  font-size: 28px;
}
.title__menu .far.fa-heart {
  font-size: 24px;
  color: gray;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 15px 0 15px;
  gap: 40px;
}

.menu__entrée {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
}

.h2__title {
  font-size: 15px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 6px;
  inline-size: 12%;
}

.menu__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  padding: 15px 10px;
  justify-content: center;
  box-shadow: 2px 5px 9px 1px #b9b6b6bf;
}
.menu__content .content__title {
  font-weight: 500;
  font-size: 110%;
}
.menu__content .content__p {
  font-size: inherit;
  font-weight: 300;
}
.menu__content p.price {
  margin: 20px 13px 0;
  font-weight: 500;
}

.menu__plat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
}

.menu__dessert {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 15px;
}

#order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 80px;
}

.button1 {
  width: 200px;
  border-radius: 25px;
  height: 50px;
  color: white;
  background: linear-gradient(354deg, #9356dc, #ff79da);
  border: none;
  box-shadow: 0px 1px 5px -1px black;
  font-weight: 600;
  margin-top: 35px;
}

/*# sourceMappingURL=style.css.map */
