#explor h1 {
    width: 100%;
}

#explor p.explor__p {
    width: 100%;
}


#fonction ol {
    flex-direction: row;
}

#restaurant {
    justify-content: center;

    .cards {
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 25px;
        width: 100%;
    }

    .cards .card__content {
        justify-content: space-between;
        align-items: flex-end;
    }
}

.card:hover {
    transform: scale(1.02);
    transition: 45ms;
}

.footer__link {
    display: flex;
    gap: 30px;
}

#fonction,
.restaurant__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

#fonction .fonction__list {
    width: 300px;
}


.restaurant__content {
    padding: 0 20px;
}