.title__menu {
    justify-content: center;

    .card__like {
        margin-left: 30px;
    }
}

.menu {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#carte__menu {
    margin-top: -250px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#img__menu img {
    height: 450px;
}

.menu__content {
    width: 340px;
}

.food__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#img__menu {
    position: relative;
}

#img__menu:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(0deg, white, transparent);
    left: 0;
    top: 0;
}